## Gestion d'étudiants

### Création de la base de données

Créez une base de données SQLite dans le dossier `Data` et une table `etudiants` qui contiendra les colonnes :
 - id
 - nom
 - age

In [3]:
# Votre code ici

<details>
<summary>Solution</summary>
<p>
import sqlite3

conn = sqlite3.connect('Data/bdd_etudiants.db')
cur = conn.cursor()

cur.execute('''
    CREATE TABLE etudiants (
        id INTEGER PRIMARY KEY,
        nom TEXT NOT NULL,
        age INTEGER NOT NULL
    )
''')

conn.close()
<p>
</details>

### Insertion des données

Créez 3 étudiants.

In [ ]:
# Votre code ici

<details>
<summary>Solution</summary>
<p>
import sqlite3

conn = sqlite3.connect('Data/bdd_etudiants.db')
cur = conn.cursor()

cur.execute("INSERT INTO etudiants (nom, age) VALUES (?, ?)", ('Alice', 20))
cur.execute("INSERT INTO etudiants (nom, age) VALUES (?, ?)", ('Bob', 22))
cur.execute("INSERT INTO etudiants (nom, age) VALUES (?, ?)", ('Charlie', 21))
conn.commit()

cur.execute("SELECT * FROM etudiants")
rows = cur.fetchall()
for row in rows:
    print(row)

conn.close()
<p>
</details>

### Mise à jour des données dans la table

Modifiez l'age d'un de vos étudiants.

In [5]:
# Votre code ici

<details>
<summary>Solution</summary>
<p>
import sqlite3

conn = sqlite3.connect('Data/bdd_etudiants.db')
cur = conn.cursor()

cur.execute("UPDATE etudiants SET age = ? WHERE nom = ?", (23, 'Bob'))
conn.commit()

cur.execute("SELECT * FROM etudiants")
rows = cur.fetchall()
for row in rows:
    print(row)

conn.close()
<p>
</details>

## Gestion d'une université

### Création de la base de données

Créez une base de données SQLite dans le dossier `Data` et 3 tables:
 - Une table `etudiants` qui contiendra les colonnes :
    - id
    - nom
    - prenom
    - age
 - Une table `cours` qui contiendra les colonnes :
    - id
    - titre
    - credit
 - Une table `inscriptions` qui contiendra les colonnes :
    - etudiant_id
    - cours_id

In [ ]:
# Votre code ici

<details>
<summary>Solution</summary>
<p>
import sqlite3

conn = sqlite3.connect('Data/universite.db')
cur = conn.cursor()

cur.execute('''
    CREATE TABLE etudiants (
        id INTEGER PRIMARY KEY,
        nom TEXT NOT NULL,
        prenom TEXT NOT NULL,
        age INTEGER NOT NULL
    )
''')

cur.execute('''
    CREATE TABLE cours (
        id INTEGER PRIMARY KEY,
        titre TEXT NOT NULL,
        credit INTEGER NOT NULL
    )
''')

cur.execute('''
    CREATE TABLE inscriptions (
        etudiant_id INTEGER,
        cours_id INTEGER,
        FOREIGN KEY (etudiant_id) REFERENCES etudiants (id),
        FOREIGN KEY (cours_id) REFERENCES cours (id),
        PRIMARY KEY (etudiant_id, cours_id)
    )
''')

conn.close()
<p>
</details>

### Insertion de données dans les tables

Créer des étudiants, des cours et des inscriptions.<br>
Affichez vos données

In [ ]:
# Votre code ici

<details>
<summary>Solution</summary>
<p>
import sqlite3

conn = sqlite3.connect('Data/universite.db')
cur = conn.cursor()

cur.execute("INSERT INTO etudiants (nom, prenom, age) VALUES (?, ?, ?)", ('Dupont', 'Jean', 21))
cur.execute("INSERT INTO etudiants (nom, prenom, age) VALUES (?, ?, ?)", ('Martin', 'Emma', 22))

cur.execute("INSERT INTO cours (titre, credit) VALUES (?, ?)", ('Mathématiques', 3))
cur.execute("INSERT INTO cours (titre, credit) VALUES (?, ?)", ('Informatique', 4))

cur.execute("INSERT INTO inscriptions (etudiant_id, cours_id) VALUES (?, ?)", (1, 1))
cur.execute("INSERT INTO inscriptions (etudiant_id, cours_id) VALUES (?, ?)", (1, 2))
cur.execute("INSERT INTO inscriptions (etudiant_id, cours_id) VALUES (?, ?)", (2, 2))
conn.commit()

cur.execute("SELECT * FROM etudiants")
print("Table 'etudiants':", cur.fetchall())

cur.execute("SELECT * FROM cours")
print("Table 'cours':", cur.fetchall())

cur.execute("SELECT * FROM inscriptions")
print("Table 'inscriptions':", cur.fetchall())

conn.close()
<p>
</details>

## Requêtes complexes

Trouvez les étudiants inscrits au cours de Mathématiques.

In [11]:
# Votre code ici

<details>
<summary>Solution</summary>
<p>
import sqlite3

conn = sqlite3.connect('Data/universite.db')
cur = conn.cursor()

cur.execute('''
    SELECT etudiants.nom, etudiants.prenom
    FROM etudiants
    JOIN inscriptions ON etudiants.id = inscriptions.etudiant_id
    JOIN cours ON inscriptions.cours_id = cours.id
    WHERE cours.titre = 'Mathématiques'
''')
result = cur.fetchall()
print("Étudiants inscrits au cours de Mathématiques:", result)

conn.close()
<p>
</details>

Calculer le nombre total de crédits d'un étudiant donné.

In [12]:
# Votre code ici

<details>
<summary>Solution</summary>
<p>
import sqlite3

conn = sqlite3.connect('Data/universite.db')
cur = conn.cursor()

# Calculer le nombre total de crédits d'un étudiant donné
cur.execute('''
    SELECT etudiants.nom, etudiants.prenom, SUM(cours.credit) AS total_credits
    FROM etudiants
    JOIN inscriptions ON etudiants.id = inscriptions.etudiant_id
    JOIN cours ON inscriptions.cours_id = cours.id
    WHERE etudiants.nom = 'Dupont'
    GROUP BY etudiants.id
''')
result = cur.fetchall()
print("Nombre total de crédits pour l'étudiant Dupont:", result)

conn.close()
<p>
</details>